body{
    overflow-x: hidden;
    font-family: 'Alkatra', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
body main{color: #CB7766;
    width:100% ;
    height: 169%;
    border: 5px SOLID #CB7766;
    margin:0 auto ;

   } 

.titulo5
{
    font-family: 'Delicious Handrawn', cursive;
background-color:#CB7766 ;
color:#FFCE40 ;
position: relative;
width: 280px;
height: 95px;
margin-top: -140px;
}
.himno
{
    border-radius: 20px;
margin-top: 70px;
background-color:#CB7766;
height: 110px;
width: 100%;
}
.lista5 li
{ 
padding: 10px;
list-style-type: none;
float: left;
}
.video{
    position: relative;
    left: 60%;
    top: -42%;
}
.him
{ 
    width: 51%;
    height: 105%;
    border: 2px SOLID #ffffff;
    margin:0 auto ;
    position: absolute;
    left: 1.5%;
    top: 59%;
    color: black;
}

.ti{
    margin-top: 27px;
}
.au{
   
    margin-top: 60px;
    background-color: white;
   
}
.coro{
margin-top:10px ;
}
.i{
    margin-top: 10px;
}
.ii{
    margin-top: 10px;
}
.iii{
    margin-top: 10px;
}
.iv{
    
    margin-top: 10px;

}
.fondo{
    
    margin-left: 1%;
    margin-top: 1%;
}