body
{
    font-family: 'Alkatra', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

body main
{
   
    width:99.8% ;
    height: 1470px;
    border: 5px SOLID #559f55;
    margin:0 auto ;
}

.titulo
{
    font-family: 'Delicious Handrawn', cursive;
background-color:#559f55 ;
color:#92c07a ;
position: relative;
width: 210px;
height: 80px;
margin-top: -140px;

}
.in
{
padding: 1px;
list-style-type: none;
float: left;
}
.c2
{
    border-radius: 20px;
margin-top: 70px;
background-color:#559f55;
height: 110px;
width: 1335px;
}
.lista2 li
{ 
padding: 10px;
list-style-type: none;
float: left;
}